@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");

html {
  height: 100%;
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: rgb(26, 188, 156);
  background: -moz-linear-gradient(
    -45deg,
    rgba(26, 188, 156, 1) 0%,
    rgba(142, 68, 173, 1) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(26, 188, 156, 1) 0%,
    rgba(142, 68, 173, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(26, 188, 156, 1) 0%,
    rgba(142, 68, 173, 1) 100%
  );
}

h1 {
  font-size: 40px;
}

.main-game_number-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.main-game_number-selection-label {
  font-size: 20px;
  margin-right: 10px;
}

.main-game_number-box-container {
  font-size: 180px;
  display: flex;
  justify-content: center;
}

.main-game_number-box {
  border-radius: 5px;
  padding: 0 30px;
}

.main-game_operation-box {
  line-height: 15rem;
  padding: 0 30px;
}

.main-game_possible-answers-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-game_possible-answers-button {
  font-size: 100px;
  font-weight: bold;
  margin: 20px;
  width: 170px;
  height: 150px;
  border-radius: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.main-game_result-label {
  font-size: 30px;
  visibility: hidden;
  margin: 0;
  padding: 30px;
}

.main-game_restart-button {
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 20px;
  border: 1px solid #707070;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  left: 35%;
  right: 35%;
}

.correct-answer {
  color: #00ff00;
}

.wrong-answer {
  color: #850000;
}

.main-game_home-button {
  background: url("icons/home.png") 0 0 no-repeat transparent;
  background-position: center;
  background-size: cover;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 30px;
  left: 30px;
  border: none;
}
